<nav>
  <ul class="nav-portfolio">
    {%- for item in collections.portfolio -%}
      {%- set itemUrl = (item.url == page.url) -%}
      <li class="nav-portfolio__item">
        <a href="{{ item.url | url }}" class="nav-portfolio__link">
          <div class="
              media-hold nav-portfolio__media shadow aspect mb-2
              {% if item.data.title != 'Adobe Frame.io' %}
              aspect--square
              {% endif %}
              "
              >
            <video id="{{item.data.title|replace(' ', '-', 'g') }}" muted autoplay loop playsinline>
              <source src="{{item.data.videoSmall}}" type="video/mp4">
            </video>
          </div>
          <h2 class="nav-portfolio__hdr ">{{item.data.title}}</h2>
          <p class="nav-portfolio__deck ">{{item.data.deck |replace(', ', '<br/> ') | safe}}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>