<footer>

  <hr>
  
    <nav class="flex flex--horizontal-center network">
      <a href="http://codepen.io/alexisg/" onclick="trackOutboundLink('http://codepen.io/alexisg/'); return false;" target="_blank" class="network__item no-smoothstate" title="CodePen">
        <svg class="network__icon icon icon--sm icon--codepen"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-codepen"></use></svg>
        CodePen
      </a>
      <a href="http://dribbble.com/alexisg" onclick="trackOutboundLink('http://dribbble.com/alexisg'); return false;" target="_blank" class="network__item no-smoothstate" title="Dribbble">
        <svg class="network__icon icon icon--sm icon--dribbble"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dribbble"></use></svg>
        Dribbble
      </a>
      <a href="https://github.com/alexisg?utf8=%E2%9C%93&tab=repositories&q=&type=source&language=" onclick="trackOutboundLink('https://github.com/alexisg?utf8=%E2%9C%93&tab=repositories&q=&type=source&language='); return false;" target="_blank" class="network__item no-smoothstate" title="Github">
        <svg class="network__icon icon icon--sm icon--github"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg>
        Github
      </a>
      <a href="https://www.linkedin.com/in/alexisgallisa" onclick="trackOutboundLink('https://www.linkedin.com/in/alexisgallisa'); return false;" target="_blank" class="network__item no-smoothstate" title="LinkedIn">
        <svg class="network__icon icon icon--sm icon--linkedin"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
        LinkedIn
      </a>
      <a href="http://twitter.com/alexisg" onclick="trackOutboundLink('http://twitter.com/alexisg'); return false;" target="_blank" class="network__item no-smoothstate" title="Twitter">
        <svg class="network__icon icon icon--sm icon--twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
        Twitter
      </a>
    </nav>


</footer>
