{% if notHome %}{% endif %}
<header class="header">

    <div>
        {% if notHome %}
            <a href="/">
            {% endif %}
            <h1 class="header__logo">
                <span style="font-feature-settings: 'ss10','ss15' ">H</span>i, I’m <span style="font-feature-settings: 'ss12', 'ss14' ">A</span>lexis!
      </h1>
            {% if notHome %}
            </a>
        {% endif %}
        
        <p class="intro">
            I shape and guide design teams that thrive on collaboration and high craft. I’m most at home in complex product spaces, refining pixel-level UI details and the milliseconds that create fluid interactions, energized by the limitless potential of AI-driven design workflows.
        </p>

        <p class="mb-0 intro">
            Currently working on something new as part of the Spectrum Vision team at Adobe.
        </p>

    </div>
    <div class="portrait">
        <div class="portrait__img"><img src="/static/images/pic-cassian.png" alt="Portrait image"></div>
        <span id="js-andre" class="portrait__icon icon icon--andre down"></span>
    </div>
</header>