<header class="header">

  {% if notHome %}
    <a href="/">
    {% endif %}
    <div class="portrait transition">
      <div class="portrait__img"><img src="/static/images/pic-cassian.png" alt="Portrait image"></div>
      <span id="js-andre" class="portrait__icon icon icon--andre down"></span>
    </div>
    <h1 class="header__logo align-center">
      Alexis Gallis&aacute;
    </h1>
    {% if notHome %}
    </a>
  {% endif %}

</header>