<header class="header">

  <a href="/">
    <div class="portrait transition">
      <div class="portrait__img"><img src="/static/images/pic216.jpg" alt="Portrait image"></div>
    </div>
    <h1 class="header__logo align-center">
      Alexis Gallis&aacute;
    </h1>
  </a>

</header>