<nav class="nav-portfolio-hold">
  <ul class="nav-portfolio nav-portfolio--row">
    {%- for item in collections.portfolio -%}
      {%- set itemUrl = (item.url == page.url) -%}
      {% if item.title != 'Home' %}
        <li class="nav-portfolio__item">
          <a href="{{ item.url | url }}" class="nav-portfolio__link {% if itemUrl %}nav-portfolio__link--active{% endif %}">
            {{item.data.title}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>