<div class="themepicker js-themepicker" data-nosnippet>
  
  <ul class="themepicker__list flex flex--column" id="theme-menu">
  {% for theme in themes %}
    <li class="themepicker__item">
      <button class="themepicker__btn js-themepicker-themeselect" data-theme="{{ theme.id }}" aria-label="select color theme '{{ theme.name }}'" onclick="blurInput()">
        <svg class="icon icon--xs"><use xlink:href="#icon-{{ theme.id }}"></use></svg>
      </button>
    </li>
  {% endfor %}
  </ul>
  
</div>
