<div class="themepicker" data-nosnippet>

  <label class="themepicker__switch">
    <input type="checkbox" class="js-theme-toggle" aria-label="Toggle dark mode">
    <span class="themepicker__slider"></span>
  </label>

</div>