/* Native Imports */
@use "modules/_variables";

// Layout
@use "modules/_aspect";
@use "modules/_flex";
@use "modules/_grid";
@use "modules/_responsive";

// Pretty
@use "modules/_baseline";
@use "modules/_view-transitions";
@use "modules/_helpers";

// Components
@use "components/_icons";
@use "components/_header";
@use "components/_nav";
@use "components/_footer";
@use "components/_themepicker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: 'bookmania', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 2rem;
  transition: background 0.3s ease, color 0.3s ease;
}

// Avoid img and video elements to grow outside our containters.
// Allows us to put non width defined images in our containers for maximum flexibility
// Paint performance gains can be reintroduced by using our aspect classes
img, video {
  max-width: 100%;
}

// Reset our buttons. We need to be super careful about killing outline and make sure that we re-introduce it on any new buttons we create.
button {
  background: none;
  border: 0;
  color: var(--color-text);
  font-family: inherit;
  outline: none;
  &::-moz-focus-inner {
    border: 0;
  }
}

// ------------------------------------------------------------------
// Base Typography addition on our baseline sizing from baseline.sass
// ------------------------------------------------------------------

h1 {
  color: var(--color-hdr);
  font-family: "bookmania", serif;
  font-weight: 600;
}

h2 {
  color: var(--color-hdr);
  font-weight: 600;
}

h3 {
  color: var(--color-hdr);
  font-weight: bold;
}

h4 {
  color: var(--color-sub-hdr);
  font-weight: normal;
}

h5 {
  color: var(--color-sub-hdr);
  font-weight: normal;
}

h6 {
  color: var(--color-sub-hdr);
  font-weight: normal;
}

a {
  color: var(--color-link);
  cursor: pointer;
  text-decoration: none;
  transform-origin: 0 0;
  transition: .3s color;

  svg {
    fill: var(--color-link);
  }

  &:hover {
    color: var(--color-link-hover);
    cursor: pointer;
    
    svg {
      fill: var(--color-link-hover);
    }
  }

  li & {
    display: block;
  }
}

ul {
  list-style: none;
  text-align: left;
}


.media-hold {
  overflow: hidden;
  // delayed media fade-in to reduce flicker
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.550, 0.055, 0.675, 0.190);
  &.is-visible {
    opacity: 1;
  }
}
