---
permalink: '/static/css/theme.css'
excludeFromSitemap: true
---
{% macro colorscheme(colors) %}
    --color-body: {{ colors.body }};
    --color-text: {{ colors.text }};
    --color-hdr: {{ colors.hdr }};
    --color-sub-hdr: {{ colors.subHdr }};
    --color-link: {{ colors.link }};
    --color-link-hover: {{ colors.linkHover }};
    --color-tabsBg: {{ colors.tabsBg }};
    --color-tabBg: {{ colors.tabBg }};
    --color-tabStroke: {{ colors.tabStroke }};
    --color-shadow: {{ colors.shadow }};
{% endmacro %}

{%- set light = themes|getTheme('light') -%}
{%- set dark = themes|getTheme('dark') -%}

:root {
    {{ colorscheme(light.colors) }}
}

@media(prefers-color-scheme: dark) {
    :root {
        {{ colorscheme(dark.colors) }}
    }
}

{% for theme in themes %}
[data-theme='{{ theme.id }}'] {
    {{ colorscheme(theme.colors) }}
}
{% endfor %}