// ---------------------------
// List of networks in footer
// ---------------------------
.network
  margin: 2rem auto
  width: 100%

.network__item
  color: var(--color-hdr)
  flex: 0 0 auto
  font-size: .8rem
  margin: 0 2rem
  &:hover
    color: var(--color-hdr)

.network__icon
  display: block
  margin: 0 auto 0.5rem
  transition: all .3s
