@use "../modules/measure" as measure

// ---------------------------
// List of networks in footer
// ---------------------------
.network
  margin: measure.guv(2) auto
  width: 100%

.network__item
  color: var(--color-hdr)
  flex: 0 0 auto
  font-size: .8rem
  margin: 0 measure.guv(2)
  &:hover
    color: var(--color-hdr)

.network__icon
  display: block
  margin: 0 auto 0.5rem
  transition: all .3s
