// ---------------------------
// Main portfolio nav with grid
// ---------------------------
.nav-portfolio
  display: grid
  grid-template-columns: 1fr
  gap: 2rem
  text-align: center
  list-style: none
  width: 100%

@media (min-width: 768px)
  .nav-portfolio
    grid-template-columns: repeat(2, 1fr)
    > *:first-child
      grid-column: 1 / -1

nav
  display: flex
  position: sticky
  top: 1rem
  z-index: 100

.nav-portfolio--row
  display: inline-flex
  flex-wrap: wrap
  justify-content: center
  gap: 0px
  padding: 6px
  background: var(--color-tabsBg)
  box-shadow: var(--color-tabStroke) 0 0 0 1px
  border-radius: 1.5rem
  width: auto
  margin: 0 auto 1.5rem
  font-size: clamp(0.625rem, 0rem + 1.5625vw, 1rem)
  position: relative
  @media (max-width: 640px)
    justify-content: space-around
    width: 100%
  &:after
    content: ''
    display: block
    top: -1rem
    left: -16rem
    right: -16rem
    height: 6rem
    position: absolute
    backdrop-filter: blur(4px)
    z-index: -1
    mask-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 1rem, rgba(0, 0, 0, 0) 100%)
    max-width: calc(100vw - 14rem)
    pointer-events: none

.nav-portfolio__link
  border-radius: 3rem
  padding: .5rem 2rem
  display: block
  color: var(--color-text)
  transition: color 3s ease-in, background 3s ease-in
  text-wrap: nowrap
  &:hover
    color: var(--color-link)
  @media (max-width: 640px)
    padding: .4rem .9rem
  .nav-portfolio--row &.nav-portfolio__link--active
    background: var(--color-tabBg)
    box-shadow: var(--shadow-elevation-low)
    color: var(--color-link)

.nav-portfolio__hdr
  color: var(--color-hdr)
  white-space: nowrap
  padding: 0
  a:hover &
    color: var(--color-link-hover)
  .nav-portfolio--row &
    font-weight: normal

.nav-portfolio__deck
  color: var(--color-sub-hdr)
