// ---------------------------
// Main portfolio nav with grid
// ---------------------------
.nav-portfolio
  display: grid
  grid-template-columns: 1fr
  gap: 2rem
  text-align: center
  list-style: none
  width: 100%

@media (min-width: 768px)
  .nav-portfolio
    grid-template-columns: repeat(2, 1fr)
    > *:first-child
      grid-column: 1 / -1

.nav-portfolio--row
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 1rem

.nav-portfolio__link--active
  color: var(--color-link-hover)
  position: relative
  .nav-portfolio__hdr
    color: var(--color-link)

.nav-portfolio__hdr
  color: var(--color-hdr)
  white-space: nowrap
  padding: 0
  a:hover &
    color: var(--color-link-hover)
  .nav-portfolio--row &
    font-weight: normal

.nav-portfolio__deck
  color: var(--color-sub-hdr)
