// ---------------------------
// Main portfolio nav with grid
// ---------------------------

.nav-portfolio
  margin-top: 0
  margin-bottom: 0
  text-align: center

  .nav-portfolio__item
    padding-top: 0
    margin-bottom: 1rem

.nav-portfolio:not(.nav-portfolio--row)
  .nav-portfolio__item
    &:first-child
      margin-bottom: 2rem
      width: 100% !important

.nav-portfolio__media
  border-radius: 4px
  overflow: hidden

.nav-portfolio__link--active
  color: var(--color-link-hover)
  position: relative
  .nav-portfolio__hdr
    color: var(--color-link)

.nav-portfolio__hdr
  color: var(--color-hdr)
  white-space: nowrap

  a:hover &
    color: var(--color-link-hover)
  .nav-portfolio--row &
    font-weight: normal

.nav-portfolio__deck
  color: var(--color-sub-hdr)
