.themepicker {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
}

.themepicker__switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
  
  .themepicker__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(12 8% 66%);
    transition: 0.4s;
    border-radius: 18px;
  }
  
  .themepicker__slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    top: 2px;
    margin: auto 0;
    transition: 0.4s;
    background: hsl(12 8% 97%);
    border-radius: 50%;
    box-shadow: 0 0 8px hsla(51, 52%, 55%,.5) inset;
    filter: drop-shadow(0 0 3px gold);
  }
  
  input:checked + .themepicker__slider {
    background: hsl(227 23% 37%);
  }

  input:checked + .themepicker__slider:before {
    transform: translateX(16px);
    background-color: transparent;
    box-shadow: inset 4px -5px 0 1px #fff;
    transform: translateX(14px) rotate(235deg);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.5));
  }
  
  