{% extends 'src/layouts/base.njk' %}

{% block intro %}
  <p class="transition transition--fadein">
  Director of Design Systems at Adobe and Frame.io. I’m passionate about building inclusive, 
  empowering design systems that thrive on collaboration. Previously, I was the 
  Senior Design Director at Twitch.tv and the Creative Technical Director for CBS Interactive Games.
  </p>
{% endblock %}