{% extends 'src/layouts/base.njk' %}

{% block intro %}
<p class="transition transition--fadein">
  I am the Director of Design Systems for <a href="https://frame.io/">Frame.io</a>. I believe in
inclusive design driven by collaborative and empowering systems. I was previously the Sr. Design Director at <a href="https://www.twitch.tv/">Twitch.tv</a> and Creative Technical Director for CBS Interactive Games.
</p>
{% endblock %}
