{% extends 'src/layouts/base.njk' %}

{% block intro %}
<p class="transition transition--fadein">
  I am a Sr. Design Director at Twitch.tv. I lead the Consumer Product Design org responsible 
for the product experience across our viewer/creator apps and design systems. I believe in
inclusive design driven by collaborative and empowering systems. Previously I was the 
Creative Technical Director at CBSi Games, where I led the redesigns of GameSpot and Giant Bomb.
</p>
{% endblock %}