---
layout: base
---

<div class="js-media-hold aspect
  {% if title != 'Twitch.tv' %}
    aspect--square
  {% endif %}
  shadow shadow--lg mg-y-2"
  data-video="{{ video }}"
  data-img="{{ image }}"
  data-title="{{ title }}"
  data-id="{{ title|replace(' ', '-', 'g') }}"
></div>

<h2>{{ title }}</h2>

{% if deck %}
  <h4>{{ deck|replace('<br>', ', ', 'g') }}</h4>
{% endif %}

{% if website %}
  <h5>
    <a href="{{website}}" class="no-smoothstate" target="_blank">
      {{website|replace('https://', '') }}
    </a>
  </h5>
{% endif %}

<hr>

{{ content | safe }}

{% if gallery %}
  <hr>
  {% for item in gallery %}
    <div class="shadow shadow--lg mg-y-2">
      <img src="{{ item }}">
    </div>
  {% endfor %}
{% endif %}
