---
layout: base
---
<div class="media-hold shadow mb-2
    aspect 
    {% if title != 'Frame.io' and title != 'Twitch.tv' %}
    aspect--square
    {% endif %}
  ">

  {%if video %}
    <video id="{{title|replace(' ', '-', 'g') }}" muted autoplay loop playsinline preload="auto" fetchpriority="high">
      <source src="{{video}}" type="video/mp4">
    </video>
  {% else %}
    <img src="{{image}}" alt="{{title}}">
  {% endif %}
</div>
<h2>{{ title }}</h2>

{% if deck %}
  <h3>{{ deck|replace('<br>', ', ', 'g') }}</h3>
{% endif %}

{% if website %}
  <p>
    <a href="{{website}}" class="no-smoothstate" target="_blank">
      {{website|replace('https://', '') }}
    </a>
  </p>
{% endif %}

{{ content | safe }}

{% if gallery %}
  {% for item in gallery %}
    <div class="media-hold shadow mb-2">
      {% if '.mp4' in item %}
        <video muted autoplay loop playsinline preload="metadata">
          <source src="{{item}}" type="video/mp4">
        </video>
      {% else %}
        <img src="{{item}}" alt="{{title}}" loading="lazy">
      {% endif %}
    </div>
  {% endfor %}
{% endif %}