@use "measure" as measure

html
  text-size-adjust: 100%

h1
  font-size: 3rem
  line-height: 3rem
  padding-top: 2rem
  margin-bottom: 1rem

h2
  font-size: 1.2rem
  line-height: 1rem
  padding-top: 2rem

h3
  font-size: 1.0rem
  line-height: 1.5rem

h4
  font-size: 1.1rem
  line-height: 2rem

p
  font-size: 1rem
  line-height: 2rem
  margin-bottom: 1rem

// Horizontal Rule
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Use a transparent box with an after element as to not throw off the baseline
hr
  clear: both
  border: 0
  position: relative
  height: measure.guv(3)
  &:after
    content: ''
    position: absolute
    left: 0
    top: 50%
    right: 0
    height: 1px
    background: rgba(black,.15)

// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul
  list-style: disc inside

ol
  list-style: decimal inside

dl,ul,ol
  padding: 0
  margin: measure.guv(1) 0

li,dd,dt
  margin-bottom: measure.guv(1)

// Table styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
table
  width: 100%

th,td
  text-align: left
  padding: 10px
  border-bottom: 1px solid rgba(black,.1)
