/* HELPER CLASSES
 Common one off class names or
 helpers loaded at the end of the
 stylesheet to help overwrite styles */

// Shadows
.shadow
  box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.01), 0px 1px 3px rgba(3, 7, 18, 0.01), 0px 2px 6px rgba(3, 7, 18, 0.01), 0px 3px 11px rgba(3, 7, 18, 0.02), 0px 4px 17px rgba(3, 7, 18, 0.03),0px 6px 24px rgba(3, 7, 18, 0.03)
  img
    display: block

.shadow--lg
  box-shadow: 0px 1px 2px rgba(3, 7, 18, 0.01), 0px 5px 6px rgba(3, 7, 18, 0.01), 0px 11px 15px rgba(3, 7, 18, 0.01), 0px 19px 26px rgba(3, 7, 18, 0.02), 0px 30px 40px rgba(3, 7, 18, 0.03),0px 43px 58px rgba(3, 7, 18, 0.03)

// Margins and Padding Helpers (0, 1rem, 2rem)
@for $i from 0 through 2
  .m-#{$i}
    margin: #{$i}rem !important
  .mt-#{$i}
    margin-top: #{$i}rem !important
  .mb-#{$i}
    margin-bottom: #{$i}rem !important
  .ml-#{$i}
    margin-left: #{$i}rem !important
  .mr-#{$i}
    margin-right: #{$i}rem !important
  .mx-#{$i}
    margin-right: #{$i}rem !important
    margin-left: #{$i}rem !important
  .my-#{$i}
    margin-top: #{$i}rem !important
    margin-bottom: #{$i}rem !important
  .p-#{$i}
    padding: #{$i}rem !important
  .pl-#{$i}
    padding-left: #{$i}rem !important
  .pr-#{$i}
    padding-right: #{$i}rem !important
  .pt-#{$i}
    padding-top: #{$i}rem !important
  .pb-#{$i}
    padding-bottom: #{$i}rem !important
  .px-#{$i}
    padding-right: #{$i}rem !important
    padding-left: #{$i}rem !important
  .py-#{$i}
    padding-top: #{$i}rem !important
    padding-bottom: #{$i}rem !important
