// Grid system
$grid-max-width: 770px

// Breakpoints
$break-sm: 768px
$break-md: 1024px
$break-lg: 1200px
$break-xl: 1440px
$breakpoints: ("sm":$break-sm,"md": $break-md,"lg": $break-lg,"xl": $break-xl)
